# Temporary files
*.swp
*~
.DS_Store
TAGS

# Compiled / optimized files
*.py[cod]

# Tests
/.coverage

# virtualenv
/venv/

# setuptools
/build/
/dist/
*.egg-info/

#Intellij files
.idea/

#vscode
.vscode/

#.project
.project


/examples/binary-segmentation/out/
/examples/binary-segmentation/out2/