# Copyright (c) 2015-2016, NVIDIA CORPORATION.  All rights reserved.

os: linux
dist: trusty
sudo: required
language: python
python: 2.7

env:
    global:
        - CAFFE_ROOT=~/caffe
        - TORCH_ROOT=~/torch
        # Fixes for Torch and OpenBLAS
        - OMP_NUM_THREADS=1
        - OPENBLAS_MAIN_FREE=1
    matrix:
        - DIGITS_TEST_FRAMEWORK=caffe CAFFE_FORK=NVIDIA
        - DIGITS_TEST_FRAMEWORK=caffe CAFFE_FORK=BVLC
        - DIGITS_TEST_FRAMEWORK=torch
        - DIGITS_TEST_FRAMEWORK=none

matrix:
    include:
        - env: LINT_CHECK
          addons:
              apt:
                  packages:
                      - python-flake8
          install: true
          script:
              - ./digits-lint
        - env: DEB_BUILD
          services: docker
          addons:
              apt:
                  packages:
                      - devscripts
                      - debhelper
                      - dput
          install: true
          script:
              - ./scripts/travis/deb-build.sh

cache:
    apt: true
    directories:
        - $CAFFE_ROOT
        - $TORCH_ROOT

addons:
    apt:
        packages:
            - build-essential
            - cmake
            - cython
            - git
            - graphviz
            - libboost-filesystem-dev
            - libboost-python-dev
            - libboost-system-dev
            - libboost-thread-dev
            - libgflags-dev
            - libgoogle-glog-dev
            - libhdf5-serial-dev
            - libleveldb-dev
            - liblmdb-dev
            - libopenblas-dev
            - libopencv-dev
            - libprotobuf-dev
            - libsnappy-dev
            - protobuf-compiler
            - python-dev
            - python-flask
            - python-gevent
            - python-gevent-websocket
            - python-gflags
            - python-h5py
            - python-matplotlib
            - python-mock
            - python-nose
            - python-numpy
            - python-opencv
            - python-pil
            - python-pip
            - python-protobuf
            - python-psutil
            - python-pydot
            - python-requests
            - python-scipy
            - python-six
            - python-skimage

before_install:
    - deactivate
    - virtualenv --system-site-packages ~/venv
    - source ~/venv/bin/activate

install:
    - ./scripts/travis/install-caffe.sh $CAFFE_ROOT
    - if [ "$DIGITS_TEST_FRAMEWORK" == "torch" ]; then travis_wait ./scripts/travis/install-torch.sh $TORCH_ROOT; else unset TORCH_ROOT; fi
    - pip install -r ./requirements.txt
    - pip install -r ./requirements_test.txt
    - pip install -e .
    - pip install -e ./plugins/data/imageGradients
    - pip install -e ./plugins/view/imageGradients

script:
    - ./digits-test -v

