# Copyright (c) 2015-2016, NVIDIA CORPORATION.  All rights reserved.

sudo: required
dist: trusty

language: python
python:
    2.7
compiler: gcc
env:
    global:
        - NUM_THREADS=4
    matrix:
        - CAFFE_FORK=NVIDIA
        - CAFFE_FORK=BVLC

cache:
    apt: true
    directories:
        - ~/caffe
        - ~/torch

before_install:
    # undo all of TravisCI's "helpful" Python shenanigans on 14.04
    - deactivate
    # use --system-site-packages so that Python will use deb packages
    - virtualenv --system-site-packages ~/venv
    - source ~/venv/bin/activate
    - which python
    - python --version
    - which pip
    - pip --version

install:
    # apt packages
    - ./scripts/travis/install-apt.sh

    # bust build caches
    - ./scripts/travis/bust-cache.sh ~/caffe ~/torch

    # build caffe
    - ./scripts/travis/install-caffe.sh ~/caffe

    # build torch
    - travis_wait ./scripts/travis/install-torch-wrapper.sh ~/torch $(pwd)/torch-install-log.txt

    # digits requirements
    - pip install -r requirements.txt
    - pip install -r requirements_test.txt

before_script:
    - export CAFFE_ROOT=~/caffe
    - export TORCH_ROOT=~/torch/install
    # Disable OpenMP multi-threading
    - export OMP_NUM_THREADS=1

script:
    ./digits-test -v --with-coverage --cover-package=digits,tools,scripts

after_success:
    coveralls

