<div class="panel panel-primary col-md-8 col-md-offset-2">
    <div class="row">
        <div class="col-md-10">
            A model includes the following
            <div class="list">
                <ul>
                    <li> Pre-trained weight file (.caffemodel)</li>
                    <li> Solver protocol buffer text file</li>
                    <li> Train_val and deploy protocol buffer text files</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        You can publish all of them by filling the form and click Publish.
    </div>
    <div class="col-md-12">
        <form action="/publish" method=post enctype=multipart/form-data>
            <p>Model name: <input type=text name=model_name><br></p>
            <p>Notes: <input type=text name=notes><br></p>
            <p> Below is the file to upload</p>
            <p>Single tar.gz or zip file downloaded from DIGITS: <input type=file name="archive"><br></p>
            <p> or </p>
            <p>Weight file <input type=file name=weight_file><br></p>
            <p>Solver prototxt file <input type=file name=solver_file><br></p>
            <p>Train_val prototxt file<input type=file name=train_val_file><br></p>
            <p>Deploy prototxt file<input type=file name=deploy_file><br></p>
            <input type=submit value=Publish>
        </form>
    </div>
</div>