<div class="panel panel-primary col-md-8 col-md-offset-2">
    <div class="panel-heading"> Model List </div>

    <div class="panel-body">
        <table class="table">
        <button ng-click="GetModels()">List all models in Model Store</button>
            <thead>
                <tr>
                    <td> Name </td>
                    <td> Framework </td>
                    <td> Image dim </td>
                    <td> Image resize mode </td>
                    <td> Weight file </td>
                    <td> Solver file </td>
                    <td> Train val file </td>
                    <td> Deploy file </td>
                    <td> Label file </td>
                    <td> Mean file </td>
                    <td> Notes </td>
                </tr>
            </thead>
            <div> Limit results by <input type=text ng-model="narrowed"></div>
            {{ narrowed }}
            <form name="models" action="/store/model/crud" method="GET">
            <tbody>
                <tr ng-repeat="model in zoo | filter: narrowed">
                    <td><input type="checkbox" name="model_keys" value="{{model.key}}"></td>
                    <td><a href="/store/model/{{model.key}}"> {{ model.name }} </a></td>
                    <td> {{ model.job.framework }} </td>
                    <td ng-show="model.job != null"> {{ model.job.image_dimension[0] }} x {{ model.job.image_dimension[1] }} x {{ model.job.image_dimension[2] }} </td>
                    <td ng-show="model.job == null"> </td>
                    <td> {{ model.job.image_resize_mode }} </td>
                    <td><a href="/store/file/{{model.files.weight_file[1]}}"> {{ model.files.weight_file[0] }} </a></td>
                    <td><a href="/store/file/{{model.files.solver_file[1]}}"> {{ model.files.solver_file[0] }} </a></td>
                    <td><a href="/store/file/{{model.files.train_val_file[1]}}"> {{ model.files.train_val_file[0] }} </a></td>
                    <td><a href="/store/file/{{model.files.deploy_file[1]}}"> {{ model.files.deploy_file[0] }} </a></td>
                    <td><a href="/store/file/{{model.files.label_file[1]}}"> {{ model.files.label_file[0] }} </a></td>
                    <td><a href="/store/file/{{model.files.mean_file[1]}}"> {{ model.files.mean_file[0] }} </a></td>
                    <td>{{ model.notes }}</td>
                </tr>
            </tbody>
            <input type="submit" value="Delete" name="delete">
            <input type="submit" value="Download" name="download">
            </form>
            </table>
    </div>
</div>