{# Skip this if testing the scheduler because the url_for won't work #}
{% if job.job_type() != 'Job For Testing' %}
{# Base the choice between models_show and datasets_show on the last work in the job_type. This is fragile. #}
{%     set list = job.job_type().split(' ') %}
{%     set show_func = 'models_show' if list[-1] == 'Model' else 'datasets_show' %}
{%     set show_url = url_for(show_func, job_id=job.id()) %}
{%     set abort_url = url_for("abort_job", job_id=job.id()) %}
{% else %}
{%     set show_url = '' %}
{%     set abort_url = '' %}
{% endif %}

<tr id="{{job.id()}}">
    <td>
        <h4 class="list-group-item-heading">
            <a href="{{ show_url }}">{{ job.name() }}  </a>
        </h4>
    </td>
    <td>
        <span>
            {{job.id()}}
        </span>
    </td>
    <td>{{job.status_history[0][1]|print_time}}
        <small id ="ago" start="{{job.status_history[0][1]}}">
        </small>
    </td>
    <td>
        <span id="status" class="text-{{job.status.css}}">{{job.status.name}}
        </span>
    </td>
    <td style="width:200px">
        <span class="sparkline"></span>
    </td>
    {% if job|attr("train_task") %}
    {% set combined_graph_data = job.train_task().combined_graph_data() %}
    {% if combined_graph_data %}
    <script>
     sparkline("{{job.id()}}", {{combined_graph_data['columns'][0][1:]}});
    </script>
    {% endif %}
    {% endif %}
    <td style="width:200px">
        <div class="progress" style="margin-bottom: 0px;">
            {% set percentage = (100*job.get_progress())|round|int %}
            <div class="progress-bar" style="width:{{percentage}}%">
                {{percentage}}%
            </div>
        </div>
    </td>
    <td>
        <div class="pull-right">
            <a id="abort" class="btn btn-xs btn-warning" {{ ' style=display:none;' if not job.status.is_running() }} onClick="return abortJob('{{job.id()}}', '{{ abort_url }}');">Abort
            </a>
            <a id="delete" class="btn btn-xs btn-danger" {{ ' style=display:none;' if job.status.is_running() }} onClick="return deleteJob('{{job.id()}}');");">Delete
            </a>
        </div>
    </td>
</tr>
