{% if system_type == 'slurm' %}
        <!--OPTIONS FOR SLURM-->
<div class="col-sm-6 col-sm-offset-3 well">
       <div class="form-group{{mark_errors([form.slurm_time_limit])}}">
           {{form.slurm_time_limit.label}}
           {{form.slurm_time_limit.tooltip}}
           {{form.slurm_time_limit(class='form-control')}}
    </div>
    <div class="form-group{{mark_errors([form.slurm_cpu_count])}}">
            {{form.slurm_cpu_count.label}}
            {{form.slurm_cpu_count.tooltip}}
            {{form.slurm_cpu_count(class='form-control')}}
    </div>
    <div class="form-group{{mark_errors([form.slurm_cpu_count])}}">
           {{form.slurm_mem.label}}
           {{form.slurm_mem.tooltip}}
           {{form.slurm_mem(class='form-control')}}
    </div>
</div>
{% endif %}